.voidx {
    float: left;
    width: 175px;
}

body {
    background-color: #212121;
    font-family: 'Sansation_Regular';
    color: white;
}

.void {
    float: left;
    width: 400px;
    height: 100px;
}

.form_center {
    margin-top: 50px;
    float: left;
    background-color: #263238;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
    text-align: center;
    padding: 50px;
    margin-left: 100px;
}

.inputs {
    margin-left: 0px;
    padding: 5px;
}

input,
textarea,
select {
    background-color: #263238;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.group {
    position: relative;
    margin-bottom: 50px;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -10px;
    transition: 0.2s ease all;
}

input:focus,
textarea:focus {
    outline: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -20px;
    font-size: 14px;
    color: #E91E63;
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #E91E63;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar:after {
    width: 50%;
}

#reg {
    height: 40px;
    width: 120px;
    border-radius: 15px;
    background-color: #E91E63;
    border-bottom: 0px solid white;
}

.container {
    width: 100%;
    height: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

ul li {
    display: inline;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #E91E63;
}

li {
    text-align: center;
    position: relative;
    vertical-align: middle;
}

a:hover,
a:focus,
a:active {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

a {
    position: relative;
    display: block;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    color: white;
    padding: 20px 20px;
    font-family: 'roboto';
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

a:active::before {
    background-color: white;
}

a:hover::before,
a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.container {
    width: 100%;
    height: 50px;
}