<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
             {{!-- Don't think we need this link if we are already on that page --}}
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
			 {{#if userName}}
			{{#if isAdmin}}
			{{else}}
			<li><a href="/checkout/yourorders">YOUR ORDER</a></li>
			{{/if}}
		    {{/if}}
		    <li><a href="/broadband/contactus">CONTACT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right"> 
        {{!-- {{#if userName}}
            <h2 class="userType">{{userName}}</h2>
        {{else}}
        <h2 class="userType" hidden>guest</h2> --}}
 		<ul>	
        {{#if userName}}      
		    <li><a href="/users/profile">PROFILE</a></li>
		    <li><a href="/users/logout">LOGOUT</a></li>
        {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
		    <li><a href="/users/login">LOGIN</a></li>
        {{/if}}
 		</ul>
         {{!-- {{/if}}	 --}}
 		</div>
</div>

<h1>Error</h1>

<p>Something went wrong. Please try again</p>