<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
            {{#if userName}} 
		        <li><a href="users/profile">PROFILE</a></li>
                <li><a href="users/logout">LOGOUT</a></li>
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>

                
            {{/if}}
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
            <li><a href="/broadband/broadbandPlans">PLANS</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right">
        <ul> 
        {{#if userName}}      

         {{else}}
          	
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
 		    
        {{/if}}	
        </ul>
 		</div>
</div>

<h1>Welcome to BroadBand Website!!!</h1>

{{#if userName}}
    {{#if isAdmin}}
    <h2>{{userName}}</h2>
    <a href="/broadband/newPlan">Add Broadband service</a><br>
    <a>Update BroadBand service</a><br>
    <a>Delete Broadband service</a><br>
    <a>Check user Requests</a><br>

    <a href="users/logout">Logout</a><br>
    {{else}}
    <h2>{{userName}}</h2>
    {{/if}}

{{/if}}