<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
		    <li><a href="users/profile">PROFILE</a></li>
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right"> 
 		<ul>	
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
 		</ul>	
 		</div>
</div>

<h1>Welcome to BroadBand Website!!!</h1>



{{!-- {{#if userName}}
    {{#if isAdmin}}
    <h2>{{userName}}</h2>
    <a href="/broadband/newPlan">Add Broadband service</a><br>
    <a>Update BroadBand service</a><br>
    <a>Delete Broadband service</a><br>
    <a>Check user Requests</a><br>
    <a href="users/logout">Logout</a><br>
    {{else}}
    <h2>{{userName}}</h2>
    <a href="users/profile">Profile</a><br>
    <a href="users/logout">Logout</a>
    {{/if}}
{{else}}
    <a href="users/signup">Need to register? Click here to sign-up</a><br>  
    <br>
    <a href="users/login">Already have an account? Click here to log-in</a>
{{/if}} --}}

