<script src='https://cdn.plot.ly/plotly-2.6.3.min.js'></script>

<h2 id="plan" hidden>{{plan}}</h2>
<h2 id="users" hidden>{{users}}</h2>

<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>

<script src="/public/js/statistics.js"></script>