<div>
<form>
<h2>Create a new appointment</h2>
    <div class="inputs">
        <div class="group">
            <input type="username" name="Username" >
            <span class="bar"></span>
            <label>Username</label>
	    </div>
        <div class="group">
            <input type="date" name="dateOfBirth" >
            <span class="bar"></span>
            <label>DATE OF BIRTH</label>
	    </div>
        <div class="group">
            <input type="text" name="Querise" >
            <span class="bar"></span>
            <label>Querise</label>
	    </div>
        <div class="group">
            <input type="text" name="Request Type" >
            <span class="bar"></span>
            <label>Request Type</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>
