<div>
	<h2>Your Appointments</h2>
	{{#if userName}}
	{{#if appointmentdate}}
    	<ol>
    		{{#each appointmentdate}}
				<li>Hey {{userName}} you have an appointment on {{date}}</li>
			{{/each}}
			
		</ol>
	{{/if}}
{{/if}}
</div>