<div class="container">
		<div id="interior">
 		<ul>
 			<li><a href="/">HOME</a></li>
            {{#if userName}} 
				
                {{!-- <li><a href="users/logout">LOGOUT</a></li> --}}
				{{#if isAdmin}}
				<li><a href="/users/moderators">Add Moderator</a></li>
    			{{!-- <li><a>Update BroadBand service</a></li>
    			<li><a>Delete Broadband service</a></li> --}}
    			<li><a href="/allappointments">Check user Requests</a></li>
				{{else}}
		        {{!-- <li><a href="users/profile">PROFILE</a></li> --}}
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>
				{{/if}}

            {{/if}}
			<li><a href="/broadband/broadbandPlans">PLANS</a></li>
		    <li><a href="/broadband/contactus">CONATCT US</a></li>
 		</ul>	
 		</div>
 		<div id="interior2">
        <ul> 
        {{#if userName}}      
		<li><a href="users/profile">PROFILE</a></li>
			<li><a href="/">LOGOUT</a></li>
         {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
        {{/if}}	
        </ul>
 		</div>
</div>

<h3>{{isAdmin}}</h3>