<h2>Login Form</h2>

<div class="void">&nbsp
</div>
<div class="form_center">
<form id="login-form" action="login" method="POST">
    <legend><h1>LOGIN</h1></legend>
    <div class="inputs">
	    <div class="group">
            <input type="text" name="userName">
            <span class="bar"></span>
	        <label>USERNAME</label>
	    </div>
        <div class="group">
            <input type="password" name="password">
            <span class="bar"></span>
	        <label>PASSWORD</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>
