<div class="container">
		<div style="width:92%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
			 <li><a href="/broadband/broadbandPlans">PLANS</a></li>
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 8%;float:right"> 
 		<ul>	
            <li><a href="/users/signup">REGISTER</a></li>
			{{!-- <li><a href="/users/login">LOGIN</a></li> --}}
 		</ul>	
 		</div>
</div>
{{!-- <h2>Login Form</h2> --}}

<div class="void">&nbsp
</div>
<div class="form_center">
{{#if error}}
	<p>{{error}}</p>
{{/if}}
<form id="login-form" action="login" method="POST">
    <legend><h1>LOGIN</h1></legend>
    <div class="inputs">
	    <div class="group">
            <input type="text" name="userName">
            <span class="bar"></span>
	        <label>USERNAME</label>
	    </div>
        <div class="group">
            <input type="password" name="password">
            <span class="bar"></span>
	        <label>PASSWORD</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>
