<h2>My Plans</h2>

{{#if user}}
    {{#if plans}}
        <div class="my_plan">
        {{#each plans}}
            <dl>
                <dt>Plan Name</dt>
                <dd>{{this.planName}}</dd>

                <dt>Validity</dt>
                <dd>{{this.validity}}</dd>

                <dt>Limit</dt>
                <dd>{{this.limit}}</dd>

            </dl>
            <button>Remove Plan</button>
        {{/each}}
        </div>
    {{else}}
        <p>No plans selected currently.</p>
    {{/if}}
{{/if}}