<div>
<form action="/users/referafriend" method="POST">
<h2>Refer Friends</h2>
<h4>Your refer code: {{refercode}}</h4>
<div class="inputs">
        <div class="group">
            <input type="email" id="email" name="email">
            <span class="bar"></span>
            <label for="email">Enter email to share code</label>
        </div>
</div>
<div>
    <input id="reg" type="submit" value="Submit"> 
</div>
</form>
</div>