<h2>Signup Form</h2>

<form id="signup-form" action="signup" method="POST">
    <input type="text" name="userName"><br>
    <input type="password" name="password"><br>
    <input type="text" name="fullName"><br>
    <input type="email" name="email"><br>
    <input type="date" name="dateOfBirth"><br>
    <input type="number" name="phoneNo"><br>
    <input type="text" name="address"><br>
    <input type="text" name="city"><br>
    <input type="number" name="zipCode"><br>
    <input type="submit"> 
</form>