
<h2>Signup Form</h2>

<div class="container">
		<div style="width:94%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 6%;float:right"> 
 		<ul>	
            {{!-- <li><a href="users/signup">REGISTER</a></li> --}}
			<li><a href="/users/login">LOGIN</a></li>
 		</ul>	
 		</div>
</div>



{{!-- <h2>Signup Form</h2> --}}

{{#if error}}
    <p>{{error}}</p>
{{/if}}
<div class="void">&nbsp
</div>
<div class="form_center">
<form id="signup-form" name="registration" action="signup" method="POST">
    <legend><h1>REGISTRATION FORM</h1></legend>
    <div class="inputs">
        <div class="group"> 
            <input type="text" name="userName">
            <span class="bar"></span>
            <label>USERNAME</label>
	    </div>
        <div class="group">
            <input type="password" name="password" >
            <span class="bar"></span>
            <label>PASSWORD</label>
	    </div>
        <div class="group">
            <input type="text" name="fullName" >
            <span class="bar"></span>
            <label>FULLNAME</label>
	    </div>
        <div class="group">
            <input type="email" name="email" >
            <span class="bar"></span>
            <label>EMAIL</label>
	    </div>
        <div class="group">
            <input type="date" name="dateOfBirth" >
            <span class="bar"></span>
            <label>DATE OF BIRTH</label>
	    </div>
        <div class="group">
            <input type="number" name="phoneNo" >
            <span class="bar"></span>
            <label>PHONE NUMBER</label>
	    </div>
        <div class="group">
            <input type="text" name="address" >
            <span class="bar"></span>
            <label>ADDRESS</label>
	    </div>
        <div class="group">
            <input type="text" name="city" >
            <span class="bar"></span>
            <label>CITY</label>
	    </div>
        <div class="group">
            <input type="text" name="state" >
            <span class="bar"></span>
            <label>ADDRESS</label>
	    </div>
        <div class="group">
            <input type="number" name="zipCode">
            <span class="bar"></span>
            <label>ZIPCODE</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>
